@use '@/shared/styles/variables' as *;

.circle-history {
	$animation-duration: 1000ms;
	position: relative;
	height: 100%;
	aspect-ratio: 1;
	border: 1px solid $blue-black-05;
	border-radius: 100%;
	transition: transform $animation-duration ease-in-out;

	&__button-wrapper {
		position: absolute;
		height: $button-height-medium;
		width: $button-height-medium;
		transition: transform $animation-duration;
	}

	&__button {
		position: absolute;
		top: 0;
		left: 0;
		transform: scale(0.1);
		height: $button-height-medium;
		width: $button-height-medium;
		background-color: $blue-black;
		transition: transform $transition-alternate, background-color $transition-alternate;

		&::before {
			content: '';
			position: absolute;
			inset: -40px;
			border-radius: 100%;
			z-index: -1;
		}

		&--active,
		&:hover {
			transform: scale(1);
			background-color: $white;
		}
	}

	&__title {
		position: absolute;
		top: 50%;
		left: 120%;
		font-size: 20px;
		font-weight: 700;
		color: $blue-black;
		opacity: 0;
		transform: translateY(-50%);
		transition: opacity $animation-duration;
	}

	&__button--active &__title {
		animation: 500ms $animation-duration forwards fadeIn;
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}
}