@use '@/shared/styles/variables' as *;

.circle-history {
	position: relative;
	height: 100%;
	aspect-ratio: 1;
	border: 1px solid $blue-black-05;
	border-radius: 100%;

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: -100vw;
		right: -100vw;
		transform: translateY(50%);
		height: 1px;
		background-color: $blue-black-03;
	}

	&::after {
		content: '';
		position: absolute;
		left: 50%;
		top: -100vw;
		bottom: -100vw;
		transform: translateX(50%);
		width: 1px;
		background-color: $blue-black-03;
	}

	&__button {
		position: absolute;
		transform: scale(0.1);
		height: $button-height-medium;
		width: $button-height-medium;
		background-color: $blue-black;
		transition: transform $transition-alternate, background-color $transition-alternate;

		&::before {
			content: '';
			position: absolute;
			inset: -40px;
			border-radius: 100%;
			z-index: -1;
		}

		&--active,
		&:hover {
			transform: scale(1);
			background-color: $white;
		}
	}

	&__title {
		position: absolute;
		top: 50%;
		left: 120%;
		font-size: 20px;
		font-weight: 700;
		color: $blue-black;
		opacity: 0;
		transform: translateY(-50%);
		transition: opacity $transition-alternate;
	}

	&__button--active &__title {
		opacity: 1;
	}
}