$white: #fff;
$blue-black: #42567a;
$blue: #3877ee;
$blue-20: rgba(56, 119, 238, 0.202);
$fuschia: #ef5da8;
$fuschia-80: #f178b6;
$iris: #5d5fef;
$linear-gradient-primary: linear-gradient(90deg,
		rgba(56, 119, 238, 1) 0%,
		rgba(239, 93, 168, 1) 100%);

$border-blue-black: 1px solid rgba(48, 62, 88, 0.502);

$app-container-width: 1440px;
$app-container-padding-x: 20px;
$container-width: 1280px;
$container-padding-x: 20px;

$button-height-medium: 56px;
$button-height-small: 40px;

$font-family-primary: 'PT Sans', sans-serif;
$font-family-alternate: 'Bebas Neue', sans-serif;