@use '@/shared/styles/variables' as *;

.history-periods {
	position: relative;
	min-height: 100vh;
	max-height: 1080px;
	padding-top: min(7vh, 170px);
	padding-bottom: min(9.6vh, 104px);
	border-inline: 1px solid $blue-black-03;

	&__title {
		position: relative;
		padding-left: min(1.4em, 78px);

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0.1em;
			bottom: 0.1em;
			width: 5px;
			background-image: $linear-gradient-primary;
			z-index: 1;
		}
	}

	&__center {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		height: clamp(187px, 30vh, 393px);
	}

	&__circle {
		position: absolute;
		top: 50%;
		left: 50%;
		height: clamp(400px, 50vh, 530px);
		transform: translate(-50%, -50%);
	}

	&__switch {
		margin-bottom: 56px;
	}
}

@media (max-width: 767px) {
	.history-periods {
		&__title::before {
			display: none;
		}

		&__circle {
			display: none;
		}

		&__container {
			display: flex;
			flex-direction: column;
		}

		&__center {
			margin-bottom: 20px;
			border-bottom: 1px solid $blue-black-05;
		}

		&__switch {

			margin-bottom: 0;
			order: 1;
		}
	}

}